/* =================
        elements
   ================= */

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

.tagline a, .search-result-meta a {
    color: #36c;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    color: #444e5a;
    padding: 0 0 0.15em;
    border-bottom: 1px solid #e4eaee;
}

.md h1 {
    font-weight: bold;
}

.md h2 {
    border: none;
}

.md blockquote {
    color: #5d6773;
    border: none;
}

.md blockquote p {
    border-left: 3px solid #e4eaee;
    padding-left: 1em;
    font-style: italic;
}

pre,
code,
.md code,
.md pre,
.flair {
    color: #36414f;
    background-color: #ffffff;
    border-color: #e4eaee;
    border-radius: 2px;
    padding: 1px 4px;
    overflow: auto;
}

.linkflairlabel {
    color: #36414f;
    background-color: #ffffff;
    border-color: #e4eaee;
    border-radius: 2px;
    padding: 1px 4px;
}

.linkinfo {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
    background-color: #fff;
    border: 1px solid #e4eaee;
    border-radius: 0px;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0, 0, 0, 0.1);
    padding: 1em;
}

#search input[type="text"] {
    border: 1px solid #e4eaee;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0,0,0,0.1);
}

#search input[type="text"]:focus {
    outline: none;
}

#search input[type=text]::placeholder {
    text-transform: capitalize;
}

#search input[type="submit"] {
    display: none;
}

/* =================
      reddit gold
   ================= */

.gold-accent {
    color: #705000 !important;
    border-color: #fde29b;
    background-color: #fdf1d1;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0,0,0,0.1);
    margin-bottom: 1em;
    display: inline-block;
}

.gold-accent.comment-visits-box {
    padding: .75em 2em 0.75em;
    font-size: 0.9em;
    left: 4px;
    position: relative;
    border-radius: 0px;
}

/* =================
       comments
   ================= */

.res .res-commentBoxes.res-commentBoxes-rounded .comment, .res .res-commentBoxes .comment .comment, .res .res-commentBoxes .comment .comment .comment .comment, .res .res-commentBoxes .comment .comment .comment .comment .comment .comment, .res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment, .res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    border-radius: 0px !important;
}	

.new-comment .usertext-body {
    background: #fdf1d1;
    border: solid 1px #fde29b;
    margin: .3em 0;
    padding: 0 4px;
    border-radius: 6px;
}

.new-comment .usertext-body > .md > p {
    color: #705000;
}

.commentarea .thing {
    border-radius: 0px;
    background-color: #fff;
    margin: 0 0 8px;
    padding: 16px 16px 1px;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0, 0, 0, 0.1);
}

.commentarea .child .thing {
    box-shadow: none;
}

.commentarea .thing.collapsed {
    padding: 10px 15px !important;
}

.res .commentarea .thing {
    padding: 10px 15px 0 !important;
    border: 1px solid #e4eaee !important;
}

.commentarea .thing {
    padding: 10px 15px 0;
    border: 1px solid #e4eaee;
}

.res .res-commentBoxes.res .res-commentBoxes .spam {
    border-color: #fdd6d2 !important;
}

.res .commentarea .spam,
.commentarea .spam {
    background: linear-gradient(#feecea, #feecea) !important;
    border-color: #fdd6d2 !important;
}

.res .commentarea .spam > .entry > .tagline > .author,
.commentarea .spam > .entry > .tagline > .author {
    color: #c22010;
}

.res .commentarea .spam > .entry > .tagline > .expand,
.commentarea .spam > .entry > .tagline > .expand {
    color: #c22010;
}

.res .commentarea .spam > .entry > .tagline > .expand:hover,
.commentarea .spam > .entry > .tagline > .expand:hover {
    background-color: #c22010;
    color: #fff;
}

.res .res-commentBoxes.res .res-commentBoxes .stickied {
    border-color: #def3cf !important;
}

.res .commentarea .stickied,
.commentarea .stickied {
    background-color: #ecf8e3;
    border-color: #def3cf !important;
}

.res .commentarea .stickied > .entry > .tagline > .author,
.commentarea .stickied > .entry > .tagline > .author {
    color: #478515;
}

.res .commentarea .stickied > .entry > .tagline > .expand,
.commentarea .stickied > .entry > .tagline > .expand {
    color: #478515;
}

.res .commentarea .stickied > .entry > .tagline > .expand:hover,
.commentarea .stickied > .entry > .tagline > .expand:hover {
    background-color: #478515;
    color: #fff;
}

.res .commentarea .comment > .entry > .tagline > .author.moderator {
    background-color: #478515 !important;
}

/* section from /r/crappydesign */

.comment.noncollapsed .midcol {
    margin-left: 30px;
}

.res .comment.noncollapsed .midcol {
    margin-left: 10px;
}

.commentarea .comment a.expand {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 4px 0;
    height: 100%;
    opacity: .5;
    box-sizing: border-box;
    transition: 200ms;
}

.commentarea .comment a.expand:hover {
    opacity: 1;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    background-color: #36c;
}

.res .commentarea .comment a.expand:hover {
    border-radius: 0px 0px 0px 0px;
}

.commentarea .thing,
.midcol {
    position: relative;
}

.commentarea .child.thing {
    border: 1px solid #fff !important;
}

/* =================
        posts
   ================= */

.comments-page .link {
    background: #fff;
    border: 1px solid #e4eaee;
    padding: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.commentarea .menuarea {
    padding: 0px 20px;
}

.comments-page .panestack-title .title {
    margin-left: 20px;
}

.comments-page .spam {
    background: linear-gradient(#feecea,#feecea);
    border-color: #fdd6d2;
}

.comments-page .stickied {
    background: #ecf8e3;
    border-color: #def3cf;
}

.link .usertext-body .md {
    background-color: transparent;
    border: none;
    border-radius: 7px;
    padding: 0;
}

/* =================
   moderator buttons
   ================= */

.entry .buttons li.reported-stamp {
    border: 1px solid #786300 !important;
    padding: 0 4px;
    background-color: #fcea94;
    color: #222;
}

.pretty-button.negative {
    border: 1px solid #801c13 !important;
    background: #fbc0ba;
    color: #222;
}

.pretty-button.neutral {
    border: 1px solid #444e5a !important;
    background: #e4eaee;
    color: #222;
}

.pretty-button.neutral.pressed {
    background: #bdc5cd;
}

.pretty-button.positive {
    border: 1px solid #2e5e05 !important;
    background: #c3e8a3;
    color: #222;
}

.c-btn-primary {
    border: 1px solid #36c;
    border-radius: 0px;
    color: #fff;
    padding: 10px;
    text-transform: none;
    background-color: #36c;
    font-family: "IBM Plex Sans", "Helvetica Neue", "Arial", sans-serif;
    font-weight: bold;
    transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
}

.c-btn-primary:hover {
    border: 1px solid #447ff5;
    background-color: #447ff5;
}

.c-btn-primary:focus,
.c-btn-primary:active {
    background-color: #447ff5;
    box-shadow: inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff
}

.c-btn-primary::first-letter {
    text-transform: capitalize
}

/* =================
         nsfw
   ================= */

.expando-gate .expando-gate__show-once {
    border: 1px solid #36c;
    color: inherit;
    margin: 20px;
    padding: 10px;
    text-transform: none;
    background-color: #36c;
    font-family: "IBM Plex Sans", "Helvetica Neue", "Arial", sans-serif;
    font-weight: bold;
    transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
}

.expando-gate .expando-gate__show-once:hover {
    border: 1px solid #447ff5;
    background-color: #447ff5;
}

.expando-gate .expando-gate__show-once:focus {
    box-shadow: inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff
}

/* =================
        sidebar
   ================= */

.side .md ul {
    list-style: none none;
    margin: 0;
    padding: 0.3em 0 0 0;
}

.side .md ul li {
    line-height: 1.125em;
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.75em;
}

.side .md ul li a {
    color: white !important;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #2e5e05;
    background-color: #3c780a;
    display: block;
    position: relative;
    padding: 4px 0 5px 4px;
    transition: 0.2s ease;
    text-align: center;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0,0,0,0.1);
}

.side .md ul li a:hover {
    text-decoration: none;
    background-color: #316208;
}

/* =================
        header
   ================= */

#header-bottom-right a:hover,
#sr-header-area .dropdown.srdrop .selected:hover {
    text-decoration: underline;
}

#sr-header-area {
    background-color: #fff;
    border-bottom: none;
    box-shadow: 0 0.25em 0.6em -0.15em rgba(0, 0, 0, 0.15);
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
    text-transform: capitalize;
}

.sr-bar a {
    color: #36414f;
}

#header-bottom-right a {
    color: #36414f;
    text-transform: capitalize;
}

.res-navTop #header-bottom-right {
    top: 18px;
}

#header {
    border: none;
}

#header,
.beta-hint a {
    background-repeat: no-repeat;
}

#header .tabmenu li a,
.action-form .reason-prompt:first-letter,
.action-form li label,
.commentarea .menuarea span.dropdown-title.lightdrop:first-letter,
.content .infobar:first-letter,
.flairselector .error:first-letter,
.flairselector form .flairselection .flairremove a,
.flairselector h2,
.link .entry .tagline:first-letter,
.side #moderation_tools .title h1,
.subscribe-button a.add,
.subscribe-button a.remove,
.unvotable-message:first-letter {
    text-transform: lowercase;
}

#header {
    background: url(%%starterpacksfinal%%);
    height: 144px;
}

#header-bottom-left {
    position: absolute;
    bottom: 0;
}

.pagename.redditname {
    opacity: 0;
}

.pagename a {
    position: absolute;
    top: -50px;
    left: 536px;
    width: 348px;
    height: 57px;
}

.sidecontentbox .content {
    border: 1px solid #e6e6e6;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0,0,0,0.1);
}

div.content {
    margin-left: 16px;
    margin-right: 340px;
}

.side {
    margin-right: 16px;
}

/* =================
       tabmenu
   ================= */

.tabmenu {
    top: -5px;
    position: relative;
}

.tabmenu li a {
    background-color: #fbfbfb;
    color: #327ba7;
    box-shadow: inset 0 -7px 7px -7px rgba(0,0,0,0.15);
    padding: 5px 10px;
    font-weight: normal;
}

.tabmenu li.selected a {
    color: #222;
    border: 1px solid #fff;
    box-shadow: none;
}

/* ----------------------
      CSS to organize
   ---------------------- */

/* Drop down/follow header */
/* enter the following into subreddit setting sidebar to use:
####[name](link)
*/

.titlebox h4 {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 97;
    height: 30px;
    background-color: #132c76;
    -webkit-box-shadow: 0 2px 4px 0 #757575;
    box-shadow: 0 2px 4px 0 #757575;
    color: #C6C6C6;
    padding-left: 55px;
    font-weight: normal;
    overflow: auto;
    /*font-size: 12px;*/
    line-height: 29px;
}

.titlebox h4 a {
    margin: 0px 17px 0px 17px;
    padding: 2px 0px 2px 0px;
    border: 0px solid;
    color: #C6C6C6 !important;
    text-shadow: 0px 3px 5px #375529;
    font-weight: normal;
    font-size: 15px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.titlebox h4 a:hover {
    border-bottom-color: #5b92fa !important;
    color: white !important;
    font-weight: bold !important;
    text-shadow: 0px 3px 5px #1f2914;
    text-decoration: none;
}

/* reddit icon */
.titlebox h4 a[href*="http://www.reddit.com/#top"] {
    position: fixed;
    left: 16px;
    top: 5px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    background-image: url(%%icons%%);
    background-position: -126px -72px;
    border-bottom: 0px;
    text-indent: -9999px;
    padding: 0px;
    margin: 0px;
    opacity: 0.6;
}

.titlebox h4 a[href*="http://www.reddit.com/#top"]:hover {

    border-bottom: 0px solid;
    opacity: 1;
}

.new-page .titlebox h4 a[href*="/new"],
.top-page .titlebox h4 a[href*="/top"],
.hot-page .titlebox h4 a[href*="/hot"] {
    border-bottom: 0px solid #5b92fa;
    color: #EAEAEA;
}

.side .md h4 {
    margin-top: 0em !important;
    padding-top: 5px;
}

#header {
    z-index: 98
}

/** SPOILER TAGS **/

a[href$="/spoiler"],
a[href$="#spoiler"],
a[href$="/s"],
a[href$="#s"] {
    background: #000 !important;
    color: #000 !important
}

a[href$="/spoiler"]:hover,
a[href$="#spoiler"]:hover,
a[href$="/s"]:hover,
a[href$="#s"]:hover {
    color: #FFF !important
}

/**Hover Boxes (still need to make some updates to this though)**/

div.side h5, .res-nightmode div.side h5 {
    text-align: center;
    background-color: #C10E1F;
    border: 1px solid #fff;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 0px
    }

.side .md h5, .res-nightmode .side .md h5{
    
    line-height: 18px;
    background: #ececec;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 3px solid #bcbcbc;
    margin: 5px 10px;
    padding: 5px 0px 5px 5px;
    width: auto;
    color: #000;
    text-align: left;
    font-size: small;

}

.side .md h5:hover {
    background: #d4d4d4;
}

.side .md h5 + ol {
    font-family: Segoe,"Segoe UI",Optima,Candara,Calibri,Arial,sans-serif;
    font-size: 13px;
    list-style: none;
    margin: -33px 4px 0 ;
    padding: 0;
    position: absolute;
    width: auto;
    min-width:250px !important;
    max-width:300px !important;
    right: 295px !important;
    background: #fff;
    border:1px solid #bcbcbc;
    border-right:0px;
    opacity: ;
    visibility: hidden;
    transition: all .16s ease;
    -webkit-transition: all .16s ease;
    -moz-transition: all .16s ease;
    -ms-transition: all .16s ease;
    -o-transition: all .16s ease;
    z-index:100;
}

.side .md h5 + ol li {
    padding: 7px 12px;
}

.side .md h5 + ol li:last-of-type {
    border: 0;
}

.side .md h5:hover + ol, .side .md h3+ol:hover {
    opacity: ;
    visibility: visible;
    right:300px;
}

.side .md h5 + ol:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100% ;
    width: 15px;
}

/* Sidebar Headers */

.side .titlebox .md h2 {
    position: relative;
    background: #7ee1ee;
    color: #010101;
    margin: 10px -24px 20px -8px;
}

.side .md h2:before, .side .md h2:after, .side .md h2 strong:before, .side .md h2 strong:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

.side .md h2:before {
    bottom: 0;
    left: -16px;
    border: 8px solid transparent;
    border-top: 8px solid #7ee1ee;
    border-right: 8px solid #7ee1ee;
}

.side .md h2:after {
    width: 16px;
    height: calc(100% - 16px);
    top: 0;
    left: -16px;
    background-color: #7ee1ee;
}

.side .md h2 strong {
    display: block;
    padding: 6px 10px;
    font-weight: 200;
}

.side .md h2 strong:before, .side .md h2 strong:after {
    background: pink;
}

.side .md h2 strong:before {
    bottom: -4px;
    left: -16px;
    width: 14px;
    height: 7px;
    -webkit-transform: skewY(45deg);
}

.side .md h2 strong:after {
    bottom: -10px;
    right: 0;
    width: calc(100% - -2px);
    height: 6px;
}

/* ----------------------
        night mode
   ---------------------- */

.res-nightmode body,
.res-nightmode body .content,
.res-nightmode body .side,
.res-nightmode .link,
.res-nightmode .side .titlebox,
.res-nightmode .side .spacer .titlebox .redditname,
.res-nightmode .side .leavemoderator,
.res-nightmode .side .titlebox form.flairtoggle,
.res-nightmode .icon-menu a,
.res-nightmode .side .linkinfo,
.res-nightmode .usertext-edit textarea,
.res-nightmode input[type="number"],
.res-nightmode input[type="text"],
.res-nightmode input[type="password"],
.res-nightmode .c-form-control,
.res-nightmode #searchexpando,
.res-nightmode .post-sharing,
.res-nightmode .morelink,
.res-nightmode .res-show-link,
.res-nightmode .login-form, 
.res-nightmode .login-form-side .submit,
.res-nightmode #header-bottom-right,
.res-nightmode #srList,
.res-nightmode .dropdown.lightdrop .drop-choices {
   background-color: #172136 !important;
}

.res-nightmode .md h1,
.res-nightmode .md h2,
.res-nightmode .md h3,
.res-nightmode .md h4,
.res-nightmode .md h5,
.res-nightmode .md h6 {
    color: #cbd9f4 !important;
    padding: 0 0 0.15em;
    border-bottom: 1px solid #596e96;
}

.res-nightmode .tagline a, .res-nightmode .search-result-meta a {
    color: #8cabe6 !important;
}

.res-nightmode .md blockquote {
    color: #cbd9f4 !important;
}

.res-nightmode .md blockquote p {
    border-color: #313e59 !important;
}

.res-nightmode pre,
.res-nightmode code,
.res-nightmode .md code,
.res-nightmode .md pre {
    background-color: #313e59 !important;
    border-color: #172136 !important;
}

.res-nightmode #header-bottom-right a {
    color: #cbd9f4 !important;
}

