html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    color: #444e5a;
    padding: 0 0 0.15em;
    border-bottom: 1px solid #e4eaee;
}

.md h1 {
    font-weight: bold;
}

.md h2 {
    border: none;
}

.md blockquote {
    color: #5d6773;
    border: none;
}

.md blockquote p {
    border-left: 3px solid #e4eaee;
    padding-left: 1em;
    font-style: italic;
}

pre,
code,
.md code,
.md pre {
    color: inherit;
    background-color: #ffffff;
    border-color: #e4eaee;
    overflow: auto;
}

.linkinfo {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
    background-color: #fff;
    border: 1px solid #e4eaee;
    border-radius: 0px;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0, 0, 0, 0.1);
    padding: 1em;
}

#search input[type="text"] {
    border: 1px solid #e4eaee;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0,0,0,0.1);
}

#search input[type="text"]:focus {
    outline: none;
}

#search input[type=text]::placeholder {
    text-transform: capitalize;
}

#search input[type="submit"] {
    display: none;
}

.gold-accent {
    color: #705000 !important;
    border-color: #fde29b;
    background-color: #fdf1d1;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0,0,0,0.1);
    margin-bottom: 1em;
    display: inline-block;
}

.gold-accent.comment-visits-box {
    padding: .75em 2em 0.75em;
    font-size: 0.9em;
    left: 4px;
    position: relative;
}

.res-commentBoxes.res-commentBoxes-rounded .comment {
    border-radius: 0px !important;
}

.new-comment .usertext-body {
    background: #fdf1d1;
    border: solid 1px #fde29b;
    margin: .3em 0;
    padding: 0 4px;
    border-radius: 6px;
}

.new-comment .usertext-body > .md > p {
    color: #705000;
}

.entry .buttons li.reported-stamp {
    border: 1px solid #786300 !important;
    padding: 0 4px;
    background-color: #fcea94;
    color: #222;
}

.pretty-button.negative {
    border: 1px solid #801c13 !important;
    background: #fbc0ba;
    color: #222;
}

.pretty-button.neutral {
    border: 1px solid #444e5a !important;
    background: #e4eaee;
    color: #222;
}

.pretty-button.neutral.pressed {
    background: #bdc5cd;
}

.pretty-button.positive {
    border: 1px solid #2e5e05 !important;
    background: #c3e8a3;
    color: #222;
}

.side .md ul {
    list-style: none none;
    margin: 0;
    padding: 0.3em 0 0 0;
}

.side .md ul li {
    line-height: 1.125em;
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.75em;
}

.side .md ul li a {
    color: white !important;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #2e5e05;
    background-color: #3c780a;
    display: block;
    position: relative;
    padding: 4px 0 5px 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    text-align: center;
}

.side .md ul li a:hover {
    text-decoration: none;
    background-color: #316208;
}

#header-bottom-right a:hover,
#sr-header-area .dropdown.srdrop .selected:hover {
    text-decoration: underline;
}

#sr-header-area {
    background-color: #fff;
    border-bottom: none;
    box-shadow: 0 0.25em 0.6em -0.15em rgba(0, 0, 0, 0.15);
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
    text-transform: capitalize;
}

.sr-bar a {
    color: #36414f;
}

#header-bottom-right a {
    color: #36414f;
    text-transform: capitalize;
}

#header {
    border: none;
}

#header,
.beta-hint a {
    background-repeat: no-repeat;
}

#header .tabmenu li a,
.action-form .reason-prompt:first-letter,
.action-form li label,
.commentarea .menuarea span.dropdown-title.lightdrop:first-letter,
.content .infobar:first-letter,
.flairselector .error:first-letter,
.flairselector form .flairselection .flairremove a,
.flairselector h2,
.link .entry .tagline:first-letter,
.side #moderation_tools .title h1,
.subscribe-button a.add,
.subscribe-button a.remove,
.unvotable-message:first-letter {
    text-transform: lowercase;
}



#header {
    background: url(%%starterpacksfinal%%);
    height: 144px;
}

#header-bottom-left {
    position: absolute;
    bottom: 0;
}

.pagename.redditname {
    opacity: 0;
}

.pagename a {
    position: absolute;
    top: -50px;
    left: 536px;
    width: 348px;
    height: 57px;
}

.commentarea .thing {
    border-radius: 0px;
    background-color: #fff;
    margin: 0 0 8px;
    padding: 16px 16px 1px;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0, 0, 0, 0.1);
}

.commentarea .child .thing {
    box-shadow: none;
}

.commentarea .thing.collapsed {
    padding: 10px 15px !important;
}

.res .commentarea .thing {
    padding: 10px 15px 0 !important;
    border: 1px solid #e4eaee !important;
}

.commentarea .thing {
    padding: 10px 15px 0;
    border: 1px solid #e4eaee;
}

.res-commentBoxes.res-commentBoxes .spam {
    background: #feecea !important;
    border-color: #fdd6d2 !important;
}

.commentarea .spam {
    background: #feecea;
    border-color: #fdd6d2 !important;
}

.res-commentBoxes.res-commentBoxes .stickied {
    border-color: #def3cf !important;
}

.commentarea .stickied {
    background-color: #ecf8e3;
    border-color: #def3cf !important;
}

.sidecontentbox .content {
    border: 1px solid #e6e6e6;
    box-shadow: 0 0.25rem 0.35rem -0.25rem rgba(0,0,0,0.1);
}

div.content {
    margin-left: 16px;
    margin-right: 340px;
}

.side {
    margin-right: 16px;
}

/* expando from crappy design style sheet */

.comment.noncollapsed .midcol {
    margin-left: 30px;
}

.res .comment.noncollapsed .midcol {
    margin-left: 10px;
}

.commentarea .comment a.expand {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 4px 0;
    height: 100%;
    opacity: .5;
    box-sizing: border-box;
    transition: 200ms;
}

.commentarea .comment a.expand:hover {
    opacity: 1;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    background-color: #5ba2fd;
}

.res .commentarea .comment a.expand:hover {
    border-radius: 4px 0px 0px 4px;
}

.commentarea .thing,
.midcol {
    position: relative
}

.commentarea .child.thing {
    border: 1px solid #fff !important;
}

.comments-page .link {
    background: #fff;
    border: 1px solid #e4eaee;
    padding: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.commentarea .menuarea {
    padding: 0px 20px;
}

.comments-page .panestack-title .title {
    margin-left: 20px;
}


/* Easter Egg Intensifies text code, [](/intensifies) */

a[href="/intensifies"] {
    color: #000000;
    text-transform: uppercase;
    display: block;
    font-size: 15px;
    animation: intensify .1s steps(5) infinite;
    -webkit-animation: intensify .1s steps(5) infinite;
    -moz-animation: intensify .1s steps(5) infinite;
}

@keyframes intensify {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 2px;
    }
}

@-webkit-keyframes intensify {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 2px;
    }
}

@-moz-keyframes intensify {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 2px;
    }
}

/* Easter Egg Ends*/

/* Drop down/follow header */
/* enter the following into subreddit setting sidebar to use:
####[name](link)
*/

.titlebox h4 {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 97;
    height: 30px;
    background-color: #132c76;
    -webkit-box-shadow: 0 2px 4px 0 #757575;
    box-shadow: 0 2px 4px 0 #757575;
    color: #C6C6C6;
    padding-left: 55px;
    font-weight: normal;
    overflow: auto;
    /*font-size: 12px;*/
    line-height: 29px;
}

.titlebox h4 a {
    margin: 0px 17px 0px 17px;
    padding: 2px 0px 2px 0px;
    border: 0px solid;
    color: #C6C6C6 !important;
    text-shadow: 0px 3px 5px #375529;
    font-weight: normal;
    font-size: 15px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.titlebox h4 a:hover {
    border-bottom-color: #5b92fa !important;
    color: white !important;
    font-weight: bold !important;
    text-shadow: 0px 3px 5px #1f2914;
    text-decoration: none;
}

/* reddit icon */
.titlebox h4 a[href*="http://www.reddit.com/#top"] {
    position: fixed;
    left: 16px;
    top: 5px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    background-image: url(%%icons%%);
    background-position: -126px -72px;
    border-bottom: 0px;
    text-indent: -9999px;
    padding: 0px;
    margin: 0px;
    opacity: 0.6;
}

.titlebox h4 a[href*="http://www.reddit.com/#top"]:hover {

    border-bottom: 0px solid;
    opacity: 1;
}

.new-page .titlebox h4 a[href*="/new"],
.top-page .titlebox h4 a[href*="/top"],
.hot-page .titlebox h4 a[href*="/hot"] {
    border-bottom: 0px solid #5b92fa;
    color: #EAEAEA;
}

.side .md h4 {
    margin-top: 0em !important;
    padding-top: 5px;
}

#header {
    z-index: 98
}

/** SPOILER TAGS **/

a[href$="/spoiler"],
a[href$="#spoiler"],
a[href$="/s"],
a[href$="#s"] {
    background: #000 !important;
    color: #000 !important
}

a[href$="/spoiler"]:hover,
a[href$="#spoiler"]:hover,
a[href$="/s"]:hover,
a[href$="#s"]:hover {
    color: #FFF !important
}